* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: cursive;
}

header h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(201, 13, 122);
    text-shadow: 3px 3px 5px rgb(15, 15, 15);
}

header {
    padding: 40px;
    background-color: rgb(17, 124, 143);
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    font-size: 30px;
    text-decoration: none;
    padding: 25px;
    text-align: center;
    float: left;
    color: rgb(243, 241, 248);
}

nav a:hover {
    color: blueviolet;
}

main {
    background-color: rgb(241, 174, 30);
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: rgb(201, 13, 122);
    text-shadow: 3px 3px 5px rgb(15, 15, 15);
    padding: 20px;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: rgb(142, 45, 223);
    text-shadow: 3px 3px 5px rgb(15, 15, 15);
    padding: 20px;
}

li {
    text-align: center;
    font-size: 20px;
    color: rgb(10, 10, 10);
    text-shadow: 3px 4px 5px blanchedalmond;
    padding: 20px;
}

.search-box {
    overflow: hidden;
    position: static;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: none;
    height: 60px;
    border-radius: 30px;
    padding: 15px;
}

.search-box:hover>.search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: rgb(243, 7, 7);
}

::placeholder {
    color: white;
    opacity: 2;
}

.search-btn {
    overflow: hidden;
    color: rgb(207, 13, 233);
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 35px;
    background-color: rgb(19, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    overflow: hidden;
    border: none;
    background: none;
    outline: gold;
    float: right;
    padding: 0%;
    color: rgb(1, 0, 12);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

h4 {
    text-align: center;
    font-size: 25px;
    color: rgb(7, 7, 7);
    text-shadow: 3px 4px 5px blanchedalmond;
    padding: 20px;
}

section:nth-child(even) {
    background-color: rgb(241, 174, 30);
}

section {
    min-height: 100vh;
}

video {
    padding: 10px;
}

iframe {
    height: 50vh;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
}

footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: rgb(245, 12, 12);
}