* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    text-align: center;
    font-size: 80px;
    color: rgb(201, 13, 122);
    text-shadow: 2px 2px 4px blanchedalmond;
}

header {
    padding: 40px;
    background-color: rgb(17, 124, 143);
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    font-size: 30px;
    text-decoration: none;
    padding: 40px;
    text-align: center;
    float: left;
    color: white;
}

nav a:hover {
    color: blueviolet;
}

main {
    background-color: rgb(248, 136, 9);
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: rgb(201, 13, 122);
    text-shadow: 2px 2px 4px blanchedalmond;
    padding: 20px;
}

section:nth-child(even) {
    background-color: rgb(238, 159, 12);
}

section {
    min-height: 100vh;
}

video {
    padding: 10px;
}

iframe {
    height: 75vh;
}

img {
    align-items: center;
    padding: 10px;
}

section h5 {
    margin: 40px;
}

footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: rgb(245, 12, 12);
}